
@font-face{
    font-family: iransansbold;
    src: url(../fonts/IRANSansWeb\(FaNum\)\ Bold.otf);
}
@font-face{
    font-family: iransansnormal;
    src: url(../fonts/IRANSansWeb\(FaNum\)\ Bold.otf);
}

button,p,span,title,label{
    font-size: 0.75rem;
    font-weight: 600;
    font-family: iransansnormal;
  }

  h1,h2,h3,h4,h5,h6,a{
    font-family: iransansbold;
    font-weight: 600;

  }

  li, ul{
    font-family: iransansnormal;
    font-weight: normal;

  }

#navbar_main{
    font-family: iransans;
    padding:0.5rem 1.75rem;
     background:#da1539;
     direction: ltr;
}

#navone{
    font-family: iransans;
    padding:0.1rem 3rem;
     background:rgb(50,50,50);
     direction: ltr;
     color: white;

}

.nav-item a{
    font-size: 0.75rem;
    font-weight: 600;

}

div.collapse a:hover{
    font-size: 0.75rem;
    font-weight: 600;
    color: white;
    cursor: pointer;

}

div.collapse a:active{
    color: white;
    text-decoration: white;
}

#navone a.nav-link , #navone span{
    font-size: 0.75rem;
    color: white;
    cursor: pointer;

}
#navone span{
    line-height: 30px;
}
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

.fa-angle-left{
    position: relative;
    top: 4px;
}




.navbar .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}

body.offcanvas-active{
	overflow:hidden;
}

.offcanvas-header{ display:none; }

.screen-darken{
	height: 100%;
	width:0%;
	z-index: 30;
	position: fixed;
	top: 0;
	right: 0;
	opacity:0;
	visibility:hidden;
	background-color: rgba(34, 34, 34, 0.6);
	transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active{
	z-index:10; 
	transition:opacity .3s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}

/* ============ mobile view ============ */
@media all and (max-width: 991px) {
	
	.offcanvas-header{ display:block; }

	.mobile-offcanvas{
		visibility: hidden;
		transform:translateX(-100%);
	    border-radius:0; 
		display:block;
	    position: fixed;
	    top: 0; left:0;
	    height: 100%;
	    z-index: 1200;
	    width:80%;
	    overflow-y: hidden;
	    overflow-x: hidden;
	    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
	}

	.mobile-offcanvas.show{
		visibility: visible;
    	transform: translateX(0);
	}
	.mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
		display: block;
	}

    li.products{
        /* margin: 3px; */
        transition: 0.3s;
    }



    li.products a{
        font-size: 0.6rem;
        padding:10px;
        text-decoration: none;
        color: rgb(75, 61, 58);
    }
    
    li.products:active{
        border-radius: 1px;
        border-radius: 1px;
        background: #f5f5f5;
        color:#da1539 !important;
    }

}
li.products{
    transition: 0.1 s;
    color:#da1539 !important;
}
#suggest > img{
opacity: .1;
transition: 0.2;
}

#suggest:hover #suggest > img{
    opacity: 1;
}
#myTab> li> button{
transition: 0.3s;
}

#myTab> li> button#home-tab:active{
    border-radius: 0px;
    background: #4b3d3a;
    box-shadow: inset 12px 12px 24px #403431,
                inset -12px -12px 24px #564643;
}

#myTab> li> button#profile-tab:active{
    border-radius: 0px;
    background: #5f4d49;
    box-shadow: inset 17px 17px 34px #51413e,
                inset -17px -17px 34px #6d5954;
}

#myTab> li> button#messages-tab:active{
    border-radius: 0px;
    background: #947873;
    box-shadow: inset 12px 12px 24px #7e6662,
                inset -12px -12px 24px #aa8a84;
}

#myTab> li> button#settings-tab:active{
    border-radius: 0px;
    background: #b1918b;
    box-shadow: inset 12px 12px 24px #967b76,
                inset -12px -12px 24px #cca7a0;
}

#myTab> li> button#home-tab:hover{
    border-radius: 0px;
    background: #4b3d3a;
    box-shadow: inset 12px 12px 24px #403431,
                inset -12px -12px 24px #564643;
}

#myTab> li> button#profile-tab:hover{
    border-radius: 0px;
    background: #5f4d49;
    box-shadow: inset 17px 17px 34px #51413e,
                inset -17px -17px 34px #6d5954;
}

#myTab> li> button#messages-tab:hover{
    border-radius: 0px;
    background: #947873;
    box-shadow: inset 12px 12px 24px #7e6662,
                inset -12px -12px 24px #aa8a84;
}

#myTab> li> button#settings-tab:hover{
    border-radius: 0px;
    background: #b1918b;
    box-shadow: inset 12px 12px 24px #967b76,
                inset -12px -12px 24px #cca7a0;
}
li.products a{
    font-size: 0.6rem;
    padding: 10px;
    text-decoration: none;
    color: #403431;
}
.suggest img{
opacity: 0;
transition:0.5s;
}

.suggest:hover img{
    opacity: 1;
}

#g3{
    background:white;
}

@media all and (max-width:800px) {
    #g3{
        background:#da1539;
    }

    .suggest img{
        opacity: 1;
        transition:0.5s;
        }
        
        
}

.accordion-button{
    font-size: 0.75rem;


}

.accordion-button::after{
    padding: 10px;
    width: 5px;
    height: 5px;
    display: block;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";

}
.card-header{
    background: white;
}

.card-header a{
    color: black;
}

[class*='accordion'],[class*='accordion'] > *{
    border: none;
    background: #fa1942 !important;
    color: white;
}
#collapseOne > div > div > div {
    background: #fa1942 !important;

}
#navbar_main > div > ul > li > a , .card-body ul li a{
    color: white !important;
}
.accordion-header  button  , .accordion-body{
    font-size: 0.68rem;
}

.languages{
    padding-top: 12px;
}

/* #navbar_main > div > ul > li > a{
    opacity: 1 !important;
} */
@media all and (max-width:400px) {

    .languages a , .languages i{
        font-size: 70% !important;
    }
    /* .img-cont{
        float: right;
    } */
    #navone{
        padding:0 !important; 
    }
    .logo-cont{
        padding-right: 10px !important;
    }
        
}

#navbar-main .nav-link:hover{
    text-decoration: underline;
}

#toggledrop::after{
    transition: 0.2s;
    transform: rotate(-90deg);
}

.show::after{
    transform: rotate(360deg) !important;
}
.card{
    border: 0 !important;
}
.accordion-header button .accordion-header button {
    outline: none;
}

.accordion-header button::after{
    display: inline-block;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-left: .3em solid transparent;
    border-bottom: 0;
    border-right: .3em solid transparent;
    transition: 0.2s;
    transform: rotate(-90deg);
}
.accordion-header button[aria-expanded='true']::after{
    display: inline-block;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-left: .3em solid transparent;
    border-bottom: 0;
    border-right: .3em solid transparent;
    transition: 0.2s;
    transform: rotate(360deg);
}