
        /*================================ start public styles , please remove its ========================================*/

@font-face{
    font-family: iransansbold;
    src: url(../fonts/IRANSansWeb\(FaNum\)\ Bold.otf);
}
@font-face{
    font-family: iransansnormal;
    src: url(../fonts/IRANSansWeb\(FaNum\)\ Bold.otf);
}

button,p,span,title,label{
    font-size: 0.75rem;
    font-weight: 600;
    font-family: iransansnormal;
  }

  h1,h2,h3,h4,h5,h6,a{
    font-family: iransansbold;
    font-weight: 600;

  }

  li, ul{
    font-family: iransansnormal;
    font-weight: normal;

  }
  body{
      background: yellow;
  }

          /*================================ end public styles , please remove its ========================================*/


        /*================================ start menu ========================================*/

*{
    direction: rtl;
    text-align: right;
}
#navbar_main{
    font-family: iransans;
    padding:0.5rem 1.75rem;
    background:#fa1942;
    direction: rtl;
}

#navone{
    font-family: iransans;
    padding:0.5rem 47px 0.5rem 1.75rem;
     background:rgb(50,50,50);
     direction: rtl;
     color: white;

}


#navone a.nav-link , #navone span{
    font-size: 0.75rem;
    color: white;
    cursor: pointer;

}
#navone span{
    line-height: 30px;
}

#navbar_main > div > ul > li > a,.card-body ul li a{
    color: white !important;
}
/* li[role="presentation"] button[aria-selected="true"]{
    border-radius: 0px;
    background: #fa1942 !important;
    box-shadow:  12px 12px 31px #c11333,
                 -12px -12px 31px #ff1f51;
                 z-index: 99999999;
} */

        /*================================ end menu ========================================*/


.nav-item a{
    font-size: 0.75rem;
    font-weight: 600;

}

div.collapse a:hover{
    font-size: 0.75rem;
    font-weight: 600;
    cursor: pointer;

}



.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

.fa-angle-left{
    position: relative;
    top: 4px;
}


.navbar .megamenu{ padding: 1rem;}



body.offcanvas-active{
	overflow:hidden;
}

.offcanvas-header{ display:none; }

.screen-darken{
	height: 100%;
	width:0%;
	z-index: 30;
	position: fixed;
	top: 0;
	right: 0;
	opacity:0;
	visibility:hidden;
	background-color: rgba(34, 34, 34, 0.6);
	transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active{
	z-index:10; 
	transition:opacity .3s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}

/* ============ mobile view ============ */



li.products{
    
    transition: 0.3s;
   
}


#suggest:hover #suggest > img{
    opacity: 1;
}
#myTab> li> button{
transition: 0.3s;
}



li.products a{
    font-size: 0.6rem;
    padding-right: 10px;
    text-decoration: none;
    color: #403431;
}

.suggest img{
    opacity: 0;
    transition:0.5s;
    }
    
    .suggest:hover img{
        opacity: 1;
    }

    .suggest img{
        opacity: 0;
        transition:0.5s;
        }

        
        .suggest:hover img{
            opacity: 1;
        }

        .suggest a{
            text-decoration: 0;
            color: black;
        }
        .suggest a:hover{
            cursor: pointer;
        }
        
        #g3{
            background:transparent;
        }

        ul{
            padding-right: 0 !important;
        }

        button[id*='tab']{
            padding: 100px 54px;
            background:#eee !important;
            border:none;
            outline: none;
            color:black !important;
            transition: 0.3s;
        }
        button[id*='tab']:hover{
            border-radius: 0px;
            color:white !important;

            background: #fa1942 !important;
            box-shadow:  12px 12px 31px #c11333,
                         -12px -12px 31px #ff1f51;
                         z-index: 99999999;
        }
        
       





        /*================================ start cards ========================================*/

        .card-header{
            background: white;
        }
        
        .card-header a{
            color: black;
        }

        .card-body ul li a:active{
            /* background: #fa1942 !important; */
            color: #fa1942 !important;
        }
        .card-body{
            padding-top: 20px;
        }

        .card{
            border: 0 !important;
        }
        /*================================ end cards ========================================*/





        /*================================ start accordion ========================================*/

        #collapseOne > div > div > div {
            background: #fa1942 !important;

        }
        

        .accordion-button{
            font-size: 0.75rem;
        }

        .accordion ul{
            padding-right: 10px !important;
        }
        
        .accordion-button::after{
            padding: 10px;
            width: 5px;
            height: 5px;
            display: block;
            margin-right: 70%;
            vertical-align: .255em;
            content: "";
        
        }
        
        [class*='accordion'],[class*='accordion'] > *{
            
            padding: 5px;
            border: none;
            background: #fa1942 !important;
            color: white;
        }

        .accordion-header  button  , .accordion-body{
            outline: 0;
            font-size: 0.68rem;
        }

        
        .accordion-header button::after{
            display: inline-block;
            margin-right: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-left: .3em solid transparent;
            border-bottom: 0;
            border-right: .3em solid transparent;
            transition: 0.2s;
            transform: rotate(90deg);
        }
        .accordion-header button[aria-expanded='true']::after{
            display: inline-block;
            margin-right: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-left: .3em solid transparent;
            border-bottom: 0;
            border-right: .3em solid transparent;
            transition: 0.2s;
            transform: rotate(360deg);
        }

        #toggledrop::after{
            transition: 0.2s;
            transform: rotate(90deg);
        }

        .show::after{
            transform: rotate(360deg) !important;
        }

        .navbar-nav , .navbar-nav li{
            padding-inline-start: 0px !important;
        }

        /*===================================  end accordion  ==========================================*/


        /*================================  start media queries  ========================================*/

        @media all and (min-width: 992px) {
	
            .navbar .has-megamenu{position:static!important;}
            .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
            
        }	
        @media(max-width: 991px){
            .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
                overflow-y: auto;
                max-height: 90vh;
                margin-top:10px;
            }
        }
        @media all and (max-width: 991px) {
            
            .offcanvas-header{ display:block; }
        
            .mobile-offcanvas{
                visibility: hidden;
                transform:translateX(100%);
                border-radius:0; 
                display:block;
                position: fixed;
                top: 0; left:20%;
                height: 100%;
                z-index: 1200;
                width:80%;
                overflow-y: scroll;
                overflow-x: hidden;
                transition: visibility .3s ease-in-out, transform .3s ease-in-out;
            }
        
            .mobile-offcanvas.show{
                visibility: visible;
                transform: translateX(0%);
            }
            .mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
                display: block;
            }
        
            li.products{
            
                padding:5px 5px 0 10px ;
                transition: 0.3s;
            }
            li.products a{
                text-decoration: none;
                color: black;
            }
            
        
        
        
        
        }
            @media all and (max-width:800px) {
                    #g3{
                        background:#da1539;
                    }
                
                    .suggest img{
                        opacity: 1;
                        transition:0.5s;
                        }
                        
                        
                }
        
         @media all and (max-width:400px) {
                   
                    li.products{
                        width: 150%;
                        text-align: center;
                        transition: 0.3s;
                    }
                        
                }
                @media all and (max-width:720px) {
        
        
                    .languages{
                        padding-top: 12px;
                    }
        
                }
                
                @media all and (max-width:380px) {
        
                    .languages{
                        padding-top: 12px;
                    }
                    .languages a , .languages i{
                        font-size: 70% !important;
                    }
                    /* .img-cont{
                        float: right;
                    } */
                    #navone{
                        padding:0 ; 
                    }
                    .logo-cont{
                        padding-left: 10px !important;
                    }
                        
                }

                /*================================ end media queries ========================================*/


        


        /* #services:hover .megamenu {
            display: block;
            margin-top: 0;
         } */

        /* .accordion-header button::after{
            transform: rotate(360deg);
        } */

        

        /* #navbar_main > div > ul > li > a{
            opacity: 1 !important;
        } */
